.mainNav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size:12px;
    font-family:shabnam;
    font-weight: bolder;
    background-color: #EEA200;
}
.mainNav a{
    padding-left: 50px;
}